* {
	font-family: '黑体';
	border-radius: 0!important;
}
#hot-line {
	margin-top: 15px;
	color: #DC0032;
	font-weight: bold;
}
.head {
	height: 60px;
	text-align: center;
	background-color: #CE0F31;
	margin-bottom: 5%;
}
.head span{
	position: absolute;
	float: left;
	color: #FFF;
	font-size: 20px;
	top: 20px;
	left: 10px;
}
.head img {
	margin-top: 15px;
	height: 30px;
}
.main {
	margin: 0 auto;
	width: 90%;
}
.main .btn-danger {
	background-color: #DC0032;
	margin-bottom: 20px;
}
.main .tips {
	font-size: 10px;
	color: #AAA;
}
.main .route {
	display: block;
	border: 1px solid #777;
	padding: 10px;
	margin-bottom: 10px;
}
.main .route .red {
	color: #DC0032;
}
.main .route .book {
	padding: 2px;
	margin-right: 5px;
	border: 1px solid #DC0032;
	float: right;
	color: #DC0032;
}
.main .route p {
	font-size: 15px;
	color: #777;
	margin-bottom: 5px;
}