* {
	font-family: '黑体';
	border-radius: 0!important;
}
.head {
	height: 60px;
	text-align: center;
	background-color: #CE0F31;
	margin-bottom: 15%;
}
.head img {
	margin-top: 15px;
	height: 30px;
}
.main {
	margin: 0 auto;
	width: 80%;
}
#qcode {
	text-align: center;
}